/* Colores: Turquesa #98DAE0 #CFE3E3
            Azul oscuro #0D4659*/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
ul, ol{
  list-style-type: none;
  padding: none;
}
label{
  margin-bottom: 0px;
}
/* HEADER */
header {
  background-color: rgba(255, 255, 255, 0.95);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
marquee {
  background-color: #CFE3E3;
  font-family: "Roboto";
  color: #0D4659;
  font-size: 13px;
  letter-spacing: 2px;
}

.main-content {
  min-height: 80vh;
}

.user-navbar .dropdown-menu{

}

.user-navbar button {
  background-color: rgba(255, 0, 0, 0);
  border: none;
  outline: none;
  color: #0d4659;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 8px 8px 0;
}
.user-navbar button:hover {
  color: #98DAE0;

}

/* user navbar */

.dropdown-user-menu{
  display: none;
}
.no-dropdown-user-menu{
  display: block;
}

.navbar .nav-item,
.user-navbar .navbar-toggler {
  color: #0d4659;
  text-transform: uppercase;
  outline: none;

}

.navbar a, .navbar button{
  color: #0d4659;
  /* text-transform: uppercase; */
  outline: none;
  

}

.navbar a:hover {
  color: #98dae0;
}
.user-navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  }
.user-navbar .nav-link{
  /* padding-right: 10px; */
  font-size: 12px;
  letter-spacing: 2px;
  padding: 8px 8px 0;
}

/* header: logo */
.header-logo {
  max-width: 200px;
  margin: 0 auto;
}

.header-logo img {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 2px;
}

/* main navbar */
.navbar .btn-menu {
  border: none;
  text-transform: uppercase;
  font-family: "Roboto";
  color: #ffffff;
  background-color: #0d4659;
  padding: 13px;
  font-size: 13px;
}
.btn-menu:hover {
  background-color: #cfe3e3;
  color: #0d4659;
  text-decoration: none;
}
.menu-floki {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* margin-bottom: 5px; */
  position: relative;
}

.menu-floki-links{
  width: 100vw;
  display: inline-flex;
  justify-content: center;
  padding: auto;
  position: absolute;
  z-index: 10;
}
.menu-floki-links li{
    margin: 0 15px;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.dropdown-item {
  color: #0d4659;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.search-menu{
  position: relative;
  z-index: 20;
  font-size: 13px;
  margin: 3px;

}

.navbar-expand-lg {
  padding: 0;
  margin: 0;
}
.formu-inline {
  display: flex;
  flex-wrap: nowrap;
  max-width: 150px;
  outline: none;

}

 .form-control, .btn, .search {
  outline: none;
}

.search button {
  border: none;
  color: #0d4659;
  outline: none;
}
.search button:hover {
  background-color: #0d4659;
  color: #fff;
}
.search button:active {
  background-color: #0d4659;
  color: #fff;
  outline: none;
}
.search input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
}

/* media query responsive header */
@media (max-width: 992px) {
  .header-container {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
  .main-navbar {
    margin-left: 10px;
  }

  .header-logo,
  .main-navbar,
  .user-navbar {
    width: 33%;
  }
  .header-logo img {
    max-width: 50%;
    padding-top: 3px;
  }
  .main-navbar .navbar-toggler {
    margin-left: 0;
  }
  .user-navbar .navbar-collapse {
    text-align: right;
  }
  .search input {
    width: 100px;
    outline: none;
  }

.dropdown-user-menu{
  display: block;
}

.no-dropdown-user-menu{
  display: none;
}

}

/* Dropdown menu */



/* FOOTER */
.main-footer {
  background-color: #0d4659;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  padding: 15px 0px 0px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.main-footer a {
  text-decoration: none;
}
.dropdown-item {
  color: #0d4659;
}
.footer-social h3 {
  font-size: 15px;
}
.footer-shop li :hover,
.footer-list li :hover,
.footer-social a:hover {
  color: #98dae0;
}
.footer-social a {
  font-size: 35px;
}
.main-footer li {
  list-style-type: none;
}
.footer-shop .nav-link {
  font-size: 20px;
}
@media (max-width: 480px) {
  .footer-list {
    display: none;
  }
  .main-footer {
    margin-top: 0;
  }
}
/* HOME */

/* carrousel principal */
.carousel-item {
  transition-duration: 0.7s;
  max-height: 75vh;
}

/* categorias */
.home-categorias {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.categoria img {
  width: 100%;
  margin-bottom: 5px;
}
.home-categorias a {
  text-decoration: none;
}
.home-categorias h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  background-color: #cfe3e3;
  color: #0d4659;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  margin: 0;
}
.home-categorias h2:hover {
  color: white;
  text-decoration: none;
}

/* carrusel con imagen interactiva */
.imagen-interactiva {
  position: relative;
}
.imagen-interactiva img {
  width: 100%;
  max-height: 75vh;
}
.imagen-interactiva .icon {
  border-radius: 50%;
  width: 25px;
  z-index: 10;
  position: absolute;
}
.imagen-interactiva .producto-interactivo {
  display: none;
  width: 15%;
  border: 2px solid #0d4659;
  border-radius: 10px;
  z-index: 5;
  position: absolute;
  transform: translate(-50%, -50%);
}
.icon:hover ~ .producto-interactivo {
  display: flex;
}
#carouselExampleControls {
  width: 85%;
  margin: 0 auto;
}

/* carrusel SLIDER1 */
.slider1 .producto-oculto1 .icon {
  top: 20%;
  left: 60%;
}
.slider1 .producto-oculto1 .producto-interactivo {
  top: 28%;
  left: 64%;
}
.slider1 .producto-oculto2 .icon {
  top: 80%;
  left: 20%;
}
.slider1 .producto-oculto2 .producto-interactivo {
  top: 72%;
  left: 25%;
}
.slider1 .producto-oculto3 .icon {
  top: 80%;
  left: 60%;
}
.slider1 .producto-oculto3 .producto-interactivo {
  top: 72%;
  left: 65%;
}
.slider1 .producto-oculto4 .icon {
  top: 27%;
  left: 16%;
}
.slider1 .producto-oculto4 .producto-interactivo {
  top: 35%;
  left: 20%;
}

/*  carrusel SLIDER2 */
.slider2 .producto-oculto1 .icon {
  top: 90%;
  left: 20%;
}
.slider2 .producto-oculto1 .producto-interactivo {
  top: 80%;
  left: 25%;
}
.slider2 .producto-oculto2 .icon {
  top: 46%;
  left: 62%;
}
.slider2 .producto-oculto2 .producto-interactivo {
  top: 40%;
  left: 67%;
}

/* LOGIN */
.section-login {
  overflow: hidden;
  height: 90vh;
  width: 100vw;
}

/*Imagen*/
.section-login .art1 {
  width: 50vw;
  height: 80vh;
  float: left;
  display: inline-block;
}
.section-login .art1 img{
  object-fit: cover;
}


/*Formulario*/
.section-login .art2 {
  float: left;
  height: 80vh;
}
.section-login .ingresarcon {
  overflow: hidden;
  text-align: center;
  padding-bottom: 5vh;
  border-bottom: none;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: center;
}
.ing {
  width: 14vw;
  float: left;
}

.ingresarcon .fab {
  text-align: center;
  color: white;
  font-size: 25px;
}
.ingresarcon .fab:hover {
  color: #0d4659;
}
.o-wrap {
  position: relative;
  margin-bottom: 50px;
}
.o-wrap hr {
  border-color: #fff;
  border-width: 2px;
  width: 30%;
}
.fa-circle {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 0px 10px;
  background-color: #cfe3e3;
  color: #fff;
}
.formulario-login {
  background-color: #cfe3e3;
  border-width: 2px;
  border-color: #444;
  width: 50vw;
  height: 90vh;
  padding: 40px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


.formulario-login label {
  color: #0d4659;
  text-transform: capitalize;
}

.formulario-login input {
  color: #98dae0;
  text-align: center;
}

.rememberMe{
  text-align: center;
}

.ingresa {
  font-family: "Lusitana", serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #0d4659;
  letter-spacing: 2px;
}
.userform {
  box-sizing: border-box;
  width: 60%;
  height: 5vh;
  color: #0d4659;
  font-size: 0.75em;
  background-color: white;
  border: 2px solid white;
  padding: 4px;
  margin-top: 3px;
  text-transform: uppercase;
}

.userform:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#send-button {
  box-sizing: border-box;
  height: 40px;
  color: #0d4659;
  font-size: 1em;
  text-transform: uppercase;
  background-color: white;
  border: none;
  border-radius: 0px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
#send-button:hover {
  color: white;
  background-color: #0d4659;
}
#send-button:focus {
  box-shadow: none;
}

@media (max-width: 992px) {
  .formulario-login {
    width: 100vw;
    padding-top: 30px;
  }
  .ing {
    width: 33%;
  }
}
@media(max-width:768px){
  .userform {
    width: 100%;
  }

}
/* REGISTRO */
.section-registro {
  overflow: hidden;
  height: 90vh;
  width: 100vw;
}

/*Imagen*/
.register .art1 {
  width: 50vw;
  height: 90vh;
  float: left;
  display: inline-block;
}

.register .art1 img{
  object-fit: cover;
}


.register img {
  max-height: 100%;
}

.register .art2 {
  float: left;
  height: 90vh;
  display: inline-block;
}

.registrarsecon {
  height: 5vh;
  overflow: hidden;
  text-align: center;
  padding-bottom: 4px;
  border-bottom: none;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
}

.reg {
  width: 14vw;
  float: left;
}
.reg .fab {
  text-align: center;
  color: white;
  font-size: 25px;
}
.reg .fab:hover {
  color: #0d4659;
}
.o-wrap2 {
  position: relative;
}
.o-wrap2 hr {
  border-color: #fff;
  border-width: 2px;
  width: 30%;
}

.formulario-registro {
  background-color: #cfe3e3;
  border-width: 2px;
  border-color: #444;
  width: 50vw;
  height: 90vh;
  padding: 40px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.formulario-registro label {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.formulario-registro input {
  color: #98dae0;
  text-align: center;
}
.registrate {
  font-family: "Lusitana", serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #0d4659;
  letter-spacing: 2px;
}

.formulario-registro #send-button {
  width: 25%;
  height: 40px;
  margin: 10;
}
.formulario-registro input[type="checkbox"] {
  color: #cfe3e3;
  font-size: 0.5em;
}

@media (max-width: 992px) {
  .art2 {
    width: 100vw;
    display: block;
  }
  .formulario-registro {
    width: 100vw;
    padding-top: 30px;
  }
  .reg {
    width: 33%;
  }
  .registrate {
    margin-bottom: 20px;
  }
  .formulario-registro #nombre {
    margin-top: 20px;
  }
  .formulario-registro #send-button {
    width: 40%;
  }
}

.tooltip.left .tooltip-arrow{
  top:50%;
  right:0;
  margin-top:-5px;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-left:5px solid #000
}
.tooltip.left .tooltip-inner{
  max-width:310px;
  padding:3px 8px;
  color:#000;
  text-align:center;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px
}

 .condiciones {
  color: white;
  background-color: #0d4659;
  padding: 2px 3px;
}

/* CONTACTO */
.section-contacto {
  overflow: hidden;
  height: 80vh;
  width: 100vw;
}

/*Imagen*/
.section-contacto .art1 {
  width: 50vw;
  height: 80vh;
  float: left;
  display: inline-block;
}
.section-contacto .art1 img{
  object-fit: cover;
}

/*Formulario*/
.section-contacto .art2 {
  float: left;
  height: 80vh;
  display: inline-block;
}

.section-contacto .formulario {
  background-color: #cfe3e3;
  border-width: 2px;
  border-color: #444;
  width: 50vw;
  height: 80vh;
  padding: 40px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  display: inline-block;
}

.section-contacto form label {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-contacto form input {
  color: #98dae0;
  text-align: center;
}
.section-contacto .contactanos {
  font-family: "Lusitana", serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #0d4659;
  letter-spacing: 2px;
  padding: 10px 0;
}

.section-contacto .mensaje-contacto {
  border-style: none;
}

.mensaje-contacto {
  height: 15vh;
}

.section-contacto form input[type="checkbox"] {
  color: #cfe3e3;
  font-size: 0.5em;
}

@media (max-width: 992px) {
  .section-contacto .art2 {
    width: 100vw;
    display: block;
  }
  .section-contacto .formulario {
    width: 100vw;
    padding-top: 30px;
  }
  .section-contacto .reg {
    width: 33%;
  }
  .section-contacto .registrate {
    margin-bottom: 20px;
  }
  .section-contacto #nombre {
    margin-top: 20px;
  }
  .section-contacto #send-button {
    margin-top: 10px;
  }
}

/* SHOP */

/* banner */
.banner-shop{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.banner{
  justify-content: center;
  width: 80%;
  object-fit: scale-down;
}


.shop-articulo{
padding: 20px;
}
.shop-articulo img {
  width: 100%;
  object-fit: scale-down;
  padding: 10px 10px;
}

.shop-articulo p {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #0D4659;
  text-transform: uppercase;
}

/* PERFIL */

.h2perfil, .listperfil{
  text-transform: uppercase;
  color: #0D4659;
}

.perfil ul{
  padding:0;
}

.listperfil:hover{
  text-decoration: none;
  color:  #98DAE0;
}

.perfil button{
  box-sizing: border-box;
  height: 40px;
  color: #0d4659;
  font-size: 1em;
  text-transform: uppercase;
  background-color: white;
  border: none;
  border-radius: 0px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.perfil button:hover {
  color: white;
  background-color: #0d4659;
}
.perfil button:focus {
  box-shadow: none;
}

.perfil label {
  padding: 10px 0 0;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #0D4659;
  text-transform: uppercase;
}

.perfil form{
  width: 80%;
}

.perfil input{
  box-sizing: border-box;
  height: 5vh;
  color: #0d4659;
  font-size: 0.75em;
  background-color: white;
  margin-top: 3px;
  text-transform: uppercase;
}
